<div>
	<h1>The easiest way to store information on all your major purchases and to access from anywhere, anytime.</h1>
</div>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">SECURELY STORE YOUR MAJOR PURCHASE INFORMATION</h3>
		  		</div>
		  <div class="panel-body">
		  <ol>
		   	<li>* Receipts from major purchases</li>
				<li>* Product serial numbers, specifications and photos</li>
				<li>* User manuals, set-up guides, helpful hints and trouble-shooting guides</li>
			</ol>
			<%= link_to 'Join Free', new_user_registration_path, class: 'btn btn-success' %>
		</div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ENJOY YOUR PURCHASES</h3>
  		</div>
  	<div class="panel-body">
  	<ol>
     	<li>* Access digital product user-manuals from your own private cloud based account</li>
 		 	<li>* Connect with other users to learn how they use their products</li>
  	</ol>
			<%= link_to 'Join Free', new_user_registration_path, class: 'btn btn-success' %>
		</div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CONNECT WITH YOUR PRODUCT SUPPLIER</h3>
  </div>
  	<div class="panel-body">
  		<ol>
    		<li>At some time during the life of the product, you may need to contact the supplier. Each product listing gives you direct access to the supplier for fast support</li>
		</ol>
			<%= link_to 'Join Free', new_user_registration_path, class: 'btn btn-success' %>
		</div>
  </div>
<%= link_to 'Join Free', new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>



